# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# IDE specific files
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
.DS_STORE


# Misc
scratch/
